@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark: #1c0c01;
  --accent: #603322;
  --accent-light: #f2dcb3;
  --bg-light: #f2efe9;
}
* {
  box-sizing: border-box;
}
main {
  background-color: var(--bg-light);
  padding: 50px;
}
header {
  color: var(--accent);
}
footer {
  color: var(--bg-light);
  background-color: var(--dark);
}
p {
  color: var(--accent);
}
