@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1c0c01;
  --accent: #603322;
  --accent-light: #f2dcb3;
  --bg-light: #f2efe9;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--playdairDisplay-font);
}
main {
  background-color: var(--bg-light);
  padding: 12px;
}
header {
  color: var(--accent);
}
footer {
  color: var(--bg-light);
  background-color: var(--dark);
}
p {
  color: var(--accent);
}
.favorites {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}
.bg-img:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-light);
  transform: rotate(45deg);
}
.dotted{
  width: 100%;
  border-top: 1px dotted var(--dark);
  margin: 15px 2px 0 2px;
  transform: rotate(-0.07deg);
}